<h2>All Users and Points</h2>

  <div class="offset4 pull-right">
        <%= form_tag users_path, :method => 'get', class: "navbar-search" do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Users By Name", class: 'form-control' %>
        <%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
        <% end %>
  </div>
  
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Points</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <a href="<%= users_path %>/<%= user.id %>">
            <%= user.name %>
          </a>
        </td>
        <td><%= user.email %></td>
        <td><%= user.points %></td>
        <!--<td><%= user.created_at %></td>-->
        <!--<td><%= link_to 'Show', user %></td>-->
        <!--<td><%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" } %></td>-->

      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @users, renderer: BootstrapPagination::Rails %>

<br>