<div class="page-wrapper">

<div class="create">
  <div class="container">
      
<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages' %>
  <h1>Sign Up</h1>
  
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>
  
  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>
  
  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.label :password_confirmation, "Confirmation" %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>
  
  <div class="field">
    <%= f.label :points %><br>
    <%= f.text_field :points %>
  </div>

  <%= f.submit "Create my account", class: "btn btn-primary" %>
  <div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <div class="checkbox">
      <label>
        <input type="checkbox" value="1">
          Remember me
      </label>
    </div>
  </div>
</div>
<% end %>

</div></div>

</div>