<div class="page-wrapper">

<div class="title">

  <div class="name">
    <h1><%= @user.name%></h1>
  </div>
  
  <div class="center">
    
    
    <% if @user.image? %>
      <%= image_tag @user.image %>
    <% else %>
      <img src="http://consciouscat.net/wp-content/uploads/2009/05/happycat-150x150.jpg">
    <% end %>
  </div>
  
</div>

<div class="col-lg-offset-4">
  <p>
      <big><strong>Email:</strong></big>
      <%= @user.email %>
  </p>
  <p>
      <big><strong>Karma Points:</strong></big>
      <%= @user.points %>
  </p>
  <!-- <p>
      <strong>Id:</strong>
      <%= @user.id %>
  </p> -->
  
  <div class="updatePoints">
    <div class="container">
        
  <% if logged_in? %>
    <% if current_user.id != @user.id %>
      
      <%= form_for(@user) do |f| %>
        <div class="field">
          <div class="col-xs-2">
            <%= f.label :points %><br>
            <%= f.select :points, options_for_select([10, 20, 30], 10) %>
            </div>
        </div>
      <br><br><br>
        <div class="actions">
            <div class="col-xs-6 col-sm-3">
              <%= f.submit "Send Points", class: "btn btn-primary" %>
            </div>
        </div>
      <% end %>
    
    <% else %>
    <% end %>
  <% else %>
  <% end %>
  
  </div>
  </div>
  <br>
  <p>
  <% if logged_in? %>
    <% if current_user.id == @user.id %>
      <div><%= link_to "Edit Your Profile", edit_user_path(current_user), class: "btn btn-primary" %></div>
    <% else %>
    <% end %>
  <% else %>
  <% end %>
  <br>
  <% if current_user.id != @user.id %>
    <div><%= link_to 'Back', users_path, class: "btn btn-primary" %></div>
  <% else %>
  <% end %>   
  </p>
</div>

</div>