<div class="title">
  <div class="image">
  <%= image_tag @user.image %>
  </div>
  <h1><%= @user.name%></h1>
</div>
<p>
    <strong>Name:</strong>
    <%= @user.name %>
</p>
<p>
    <strong>Email:</strong>
    <%= @user.email %>
</p>
<p>
    <strong>Karma Points:</strong>
    <%= @user.points %>
</p>
<!--
<p>
    <strong>Id:</strong>
    <%= @user.id %>
</p>
-->

<div class="updatePoints">
  <div class="container">
      
<% if logged_in? %>
<%= form_for(@user) do |f| %>

  <div class="field">
    <%= f.label :points %><br>
    <%= f.select :points, options_for_select([10, 20, 30], f.object.points) %>
  </div>

  <div class="actions">
    <%= f.submit "Send Points"%>
  </div>
<% end %>
<% else %>
<% end %>

</div>
</div>

<% if logged_in? %>
  <div><%= link_to "Edit Your Profile", edit_user_path(current_user) %></div>
<% else %>
<% end %>
<%= link_to 'Back', users_path %>