<h1>Show User</h1>

<p>
    <strong>Name:</strong>
    <%= @user.name %>
</p>
<p>
    <strong>Email:</strong>
    <%= @user.email %>
</p>
<p>
    <strong>Karma Points:</strong>
    <%= @user.points %>
</p>

<div class="updatePoints">
  <div class="container">
      
<%= form_for(@user) do |f| %>

  <div class="field">
    <%= f.label :points %><br>
    <%= f.text_field :points %>
  </div>

  <div class="actions">
    <%= f.submit "Send Points"%>
  </div>
<% end %>

</div>
</div>

<%= link_to 'Back', users_path %>