<h2>Update your Post</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    
    <%= render 'shared/error_messages' %>
    <%= form_for(@post) do |f| %>

      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>
      
  

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>