<h2>All Posts</h2>

  <div class="offset4 pull-right">
        <%= form_tag posts_path, :method => 'get', class: "navbar-search" do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Posts By Title", class: 'form-control' %>
        <%= submit_tag "Search", :title => nil, class: "btn btn-primary" %>
        <% end %>
  </div>
  
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Posted By</th>
      <th>Created On</th>
      
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td>
          <a href="<%= posts_path %>/<%= post.id %>">
            <%= post.title %>
          </a>
        </td>
        <td>
            <%= h truncate(post.description, :length => 40) %></td>
        <td>
          <a href="<%= users_path %>/<%= post.user_id %>">
            <%= post.user.name unless post.user.nil?%>
          </a>
        </td>
        <td><%= post.created_at.strftime("%B %d, %Y") %></td>
        
        <!--<td><a href="<%= users_path %>/<%= post.user_id %>">Show User</a></td>-->
        <!--<td><a href="#">Send Request</a></td>-->
        <!--<td><%= link_to "Delete", post, method: :delete, data: { confirm: "You sure?" } %></td>-->

      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>

<br>

<% if logged_in? %>
  <%= link_to 'New Post', new_post_path %>
<% else %>
<% end %>