<div class="page-wrapper">

<h1><%= @post.title %></h1>

<div class="col-lg-offset-4">
    <p>
        <big><strong>Title:</strong></big>
        <%= @post.title %>
    </p>
    <p>
        <big><strong>Description:</strong></big>
        <%= @post.description %>
    </p>
    <p>
        <big><strong>Posted By:</strong></big>
        <%= @post.user.name %>
    </p>
    
    <p>
        <% if logged_in? %>
            <% if current_user.id == @post.user_id %>
                <div><%= link_to "Edit Your Post", edit_post_path(@post), class: "btn btn-primary" %></div> 
            <% else %>
            <% end %>
        <% else %>
        <% end %>
        <br>
        <div><%= link_to 'Back', posts_path, class: "btn btn-primary" %></div>
    </p>
    
    
    <br><br><br>
      <div class="actions">
          <div>
            <% if logged_in? %>
                <% if current_user.id != @post.user_id %>
                    <%= link_to "I'll Help!", {:controller => "posts", :action => "send_request_mail", :id => @post.id}, class: "btn btn-primary" %>
                <% else %>
                <% end %>
            <% else %>
            <% end %>
          </div>
      </div>
</div>

</div>