<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "KARMA", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        
<!--  <% if current_user %>-->
<!--    Welcome <strong><%= current_user.name %></strong>!-->
<!--  <% else %>-->
<!--    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>-->
<!--  <% end %>-->

        <li><%= link_to "Posts", posts_path %></li>
        <% if logged_in? %>
          <font color="white">Welcome <strong><%= current_user.name %></strong>!</font>
          <li><a href="/users">View Users</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" style="display: none;">
              <li><%= link_to "My Posts", "#" %></li>
              <li><%= link_to "My Requests", "/requests" %></li>
              <li><%= link_to "Profile", current_user %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, id: "log_out" %>
              </li>
            </ul>
          </li>
        <% else %>
          <!--<li><a href="/users/new">Sign Up</a></li>-->
          <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

<script>
$(document).ready(function(){
  
    //$('.dropdown-toggle').dropdown()
     
    $('.navbar .dropdown').hover(function() {
        $(this).find('.dropdown-menu').first().stop(true, true).delay(250).slideDown();
    }, function() {
        $(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideUp()
    });
})

</script>